In [9]:
import pandas as pd
import numpy as np

In [22]:
date = pd.date_range(start='2010-01-01',end='2010-01-05')
date

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05'],
              dtype='datetime64[ns]', freq='D')

In [24]:
url_prefix = 'https://www3.hkexnews.hk/reports/sharerepur/documents/SRRPT'
url_sufix = '.xls'
df = pd.DataFrame()
for i in date:
    try:
        temp = pd.read_excel('{}{}{:02d}{:02d}{}'.format(url_prefix,i.year,i.month,i.day,url_sufix))
        df = pd.concat([df,temp])
        print('{}{:02d}{:02d}success'.format(i.year,i.month,i.day))
    except:
        print('{}{:02d}{:02d}fail'.format(i.year,i.month,i.day))
        pass

20100101success
20100102fail
20100103fail
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
20100104success
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
20100105success

In [18]:
df

,Date Printed : 01/01/2010,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Share Repurchase Report,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total No. of Shares Purchased on the Exchange ...,% of Issued Share Capital at Time Ord. Resolut...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,Unit Or,Lowest,NaN,NaN,NaN,NaN
7,Company,Stock,Sec.,Trading Date,Shares,Highest,Unit,Total Paid,Purchase,NaN,NaN
8,NaN,Code,Type,(yyyy/mm/dd),Purchased,Price ($),Price ($),($),Method,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(a),NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,There is no Share Repurchase Report today.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,** End of Report **,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Whilst the Exchange has endeavoured to ensure ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN